.character-detail {
	margin: 50px;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	&__link {
		color: #efefef;
		border-radius: 40px;
		background-color: #47b5cd;
		font-weight: bold;
		text-decoration: none;
		text-shadow: 1px 2px #122988;
		padding: 10px 20px;
		margin-bottom: 25px;
		align-self: center;
		&:hover {
			color: #fefefe;
			text-shadow: 1px 2px #47b5cd;
			background-color: #122988;
			box-shadow: 0 0 10px 10px rgba(71, 181, 205, 0.5);
		}
	}

	&__container {
		text-align: left;
		display: grid;
		grid-template-columns: repeat(auto-fit, 300px);
		grid-gap: 35px;
		justify-content: center;
		align-items: flex-end;

		&--img {
			margin-top: 25px;
			border-radius: 40px;
			box-shadow: 0 0 5px 10px rgba(71, 181, 205, 0.5);
			@media all and (max-width: 350px) {
				max-width: 250px;
			}
		}
		&--header {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&--info {
			width: 250px;
			height: 260px;
			padding: 15px 30px 30px 30px;
			border-radius: 40px;
			background-color: rgba(71, 181, 205, 0.3);
			box-shadow: 0 0 5px 10px rgba(3, 5, 5, 0.3);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@media all and (max-width: 350px) {
				max-width: 210px;
			}
		}
	}
}
.detail {
	&__name {
		margin: 0;
		padding-top: 10px;
		font-size: 32px;
		color: #47b5cd;
		text-shadow: 2px 2px #122988;
	}
	&__statusIcon {
		width: 65px;
	}
	&__episodes {
		display: flex;
		justify-content: space-between;
		&--list {
			color: #122988;
			font-size: 14px;
		}
	}
	p {
		margin: 0;
	}
}
