.character-list {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;

	&__form {
		&--label {
		}
		&--input {
		}
	}
	&__list {
		list-style: none;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}
}
