.character-card {
	width: 200px;
	height: 290px;
	border-radius: 20px;
	background-color: rgba(71, 181, 205, 0.6);
	padding-bottom: 10px;
	display: grid;
	grid-template-rows: auto auto;

	&:hover {
		transform: rotate3d(1, 2, 3, 2deg);
		background-color: rgba(71, 181, 205, 0.8);
	}
	&__statusIcon {
		position: sticky;
		width: 40px;
		margin: 2px;
		z-index: 1;
	}
	&__img {
		width: 100%;
		border-radius: 20px;
	}
	&__info {
		&--name {
			margin: 0;
			padding-top: 5px;
			font-size: 20px;
			text-shadow: 1px 2px #122988;
		}
		&--paragraph {
			margin: 0;
			padding: 5px 0;
			font-size: 15px;
		}

		&--small {
			color: #efefef;
			font-size: 15px;
			font-weight: bold;
			text-shadow: 1px 2px #122988;
			&:hover {
				color: #122988;
				text-shadow: 1px 2px #47b5cd;
			}
		}
	}
}
.position {
	position: relative;
	top: -44px;
}
