.error {
	background: url(../images/Rick-Morty_shadows.jpg);
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;

	&__container {
		text-shadow: 1px 3px #191919;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 3vh;
		}
		&--link {
			color: #efefef;
			border-radius: 40px;
			background-color: #cf192b;
			font-weight: bold;
			padding: 10px 20px;
			text-decoration: none;
			text-shadow: 1px 1px #191919;
			box-shadow: 1px 1px #fefefe;
			margin: 7vh 0 5vh 0;
		}
		&--title {
			color: #cf192b;
			font-size: 35px;
			padding-bottom: 2vh;
			margin: 0;
		}
	}
}
