.filter {
	background-color: rgba(71, 181, 205, 0.6);
	height: 50px;
	margin: 0 30px;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
	border: 3px solid #47b5cd;
	font-size: 15px;
	text-shadow: 1px 1px black;

	&__fieldset {
		border: 0;
	}
	&__select {
		color: #122988;
		font-size: 14px;
	}
	&__gender {
	}
}
